.General-btn{
border: 1px solid green;
padding: 5px 45px ;
color: green;


}
.General-btn:hover{
    background-color: green;
    color: white;
}

.general-btn-text{
 font-size: small;
}
