.Card-box{
    margin-bottom: 20px ;
    background-color: white;
}
.card-box-img{
    width: 100%;
    
}
.card-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-box-title{
    height: 10%;
    padding: 10px 20px ;
}

.card-box-des{
    width: 100%;
    padding: 10px 20px ;
}
.card-p{
    font-size: 16px;
}