.top-pic {
  width: 100vw;
  height: calc(100vh - 40vh);
  background-image: url(/img/headers/projects.jpg);
  background-size: cover;
}
.title-box {
  margin-top: calc(100vh - 50vh);
  color: white;
}
.Projects-slider{
    background-color: white;
    padding: 100px 0px 80px 0px;
}

.swiper {
  padding: 0 3rem!important;
}

.slider-box-pic img {
  height: 350px;
  object-fit: cover;
}

.mt-3.project-name__catagory h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  color: #3b3b3b;
}

.mt-3.project-name__catagory p {
  font-size: 14px !important;
  font-weight: 200;
  text-align: center;
  color: green;
}

.swiper-slide h5 {
  font-size: 16px;
  color: #979797;
  text-align: center;
  margin-top: -70px;
}