.LastProject {
  width: 100vw;
  background-color: #f7f7f7;
  padding: 50px 0px;
}
.img-last-p {
  width: 100%;
}

.Card-Project {
  border: solid 1px lightgrey;
  margin-top:20px ;
  background-color: #fcfcfc;
}

.LastProject h2 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}

.Card-Project:hover {
  background-color: #151515;
  transition: 500ms;
  .label , .des {
      color: white;
  }
  .General-btn{
    background-color: green;
    color: white;
  }
  
}
.LastProject-title-box{
  padding: 10px  ;
}
.label {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0;
}
.des {
font-weight: 300;  margin-top: 3px;
}

.title-l {
font-weight: 300;
  color: #198754;
  font-size: 15px;
}
.last-btn-box{
  display: flex;
  justify-content: center;
  padding: 10px 0px ;
  
}


.slider-data-title {
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  color: #3b3b3b;
}

.slider-data-des {
  font-size: 14px !important;
  font-weight: 200;
  text-align: center;
  color: green;
}

h5.slider-data-city {
  font-size: 16px;
  color: #979797;
  text-align: center;
  margin-top: -70px;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-rtl.swiper-backface-hidden.mt-5 {
  margin-top: 0px !important;
}

.slider-data-box {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding: 20px;
}

.slider-box {
  border: 1px solid #dee2e6;
  background: #fff;
}

.slider-box-pic img {
  border-radius: 0px !important;
}