.top-pic {
  width: 100vw;
  height: calc(100vh - 40vh);
  background-image: url(/img/footer-bg.jpg);
}

.title-box {
  margin-top: calc(100vh - 50vh);
  color: white;
}

.my-drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-drop,
.my-drop-ul {
  background-color: white;
  color: black;
  width: 100%;
  border-radius: 0px;
}

.my-drop:hover {
  background-color: white;
  color: green;
}

/* .search {
  width: 100%;
  margin: 20px 0px;
  height: 50px;
  color: black
} */

.list-ul {
  padding: 0px;
  direction: rtl;
}

/* input.search {
  width: 93%;
  border-bottom: 0px;
  height: 100%;
  z-index: 10;
  color: black
} */

.search-bar {
  margin: 32px 0px;
  width: 100%;
  border: 1px solid lightgray;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.namayandeh {
  background-color: #f5f5f5;
  padding: 80px 0px;
}

.list {
  border: 1px solid lightgrey;
  padding: 20px;
  overflow-y: scroll;
  height: 500px;
  direction: ltr;
}

.list-li {
  margin-top: 20px;
  text-align: center;
  padding: 4px;
}

.list-li:hover {
  background-color: #e9eae9 !important;
  color: #fff;

  .namayande-phone-box {
    background-color: green;
    border-color: green;
    padding: 4px;
  }
}

li.list-group-item.list-li .font-800 {
  font-size: 20px !important;
  color: #545454;
  margin-bottom: 1px;
}

.list-group-item {
  padding: 20px 0px 0px 0px;

}



.map-box-frame-map {
  width: 100%;
  height: 100%;
}

.namayande-phone-box {
  background-color: #e0e0e0;
  padding: 4px;
}


.leaflet-popup-content {
  font-family: YekanBakh;
  text-align: center;
}

li.list-group-item.list-li {
  background-color: #f8f8f8;
  border: 1px solid #d0d0d0;
  border-radius: 0px !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .muirtl-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background: #fff;
}

.muirtl-14rj0y0-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled {
  background: #fff;
}

.list {
  background: #fff;
}

.muirtl-5u10e4 {
  margin-bottom: 16px;
}

.muirtl-qiwgdb.muirtl-qiwgdb.muirtl-qiwgdb {
  font-family: YekanBakh;
  background: #fff;
}

.muirtl-r8u8y9 {
  font-family: YekanBakh;
}

.leaflet-popup-content {
  font-family: YekanBakh;
}

.muirtl-1u746t9 {
  background: #fff;
}