.top-pic {
    width: 100vw;
    height: calc(100vh - 40vh);
    background-size: cover;
    background-image: url("/img/headers/contact-us.jpg");
  }
  .title-box {
    margin-top: calc(100vh - 50vh);
    color: white;
  }
  .data {
    background-color: #f5f5f5;
    color: black;
    padding: 100px 0px;
    font-size: 20px;
  }
  
  .data-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
  }
  .box-line-div {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }
  .box-logo {
    margin-left: 13px;
  }
  .box-h {
    font-size: 30px;
  }
  .social-media {
    background-color: #f5f5f5;
  }
  .social-media-box {
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    ;
  }
  .social-media-h{
    font-size: 30px;
    padding: 30px 0px;
    
  }
  .social-media-box-icon {
    filter: brightness(2.5);
    filter: grayscale(1);
    margin: 0px 40px;
  }
  .social-media-box-icon:hover {
    filter: none;
    transition: 0.5s;
  }
  .social-media-box-div{
    padding: 30px 0px ;
  }
  .social-media-pic-box{
    width: 100%;
    height: 100%;
    padding-bottom: 40PX;
  }
  .social-media-pic-box-pic{
    width:inherit;
    height: fit-content;
  }
  .map{
    background-color: #f5f5f5;
    padding-bottom: 40px;
  }
  .map-box{
    padding-top: 40px;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .map-box-frame{
    width: 100%;
    height: 500px;
  }
  .map-box-frame-map{
    width: 100%;
    height: 100%;
    border: none;
  }
  .map-box-title{
    margin: 10px 0px;
  
  }
  .form{
    background-color: #f5f5f5;
    
  }
  .form{
    display: flex;
    padding-top: 40px;
    border-top: 1px solid lightgrey;
    align-items: center;
    
  }
  .form-title{
    text-align: center;
    padding: 10px ;
  }
  .form-des-box{
    padding: 20px;
    text-align: center;
    
  }
  .box-input{
    width: 100%;
    height: 40px;
    
  }
  .box-input-p{
    width: 100%;
    height: 200px;
    
  }
  .from-h{
    margin: 15px 0px;
  }
  .form-btn{
    width: 15%;
    padding: 8px 0px;
    margin: 20px 0px 100px 0px;
  
  }
  label {
    margin-bottom: 8px;
    font-size: 16px;
  }

  input, textarea {
    width: 100%;
    padding: .5rem;
    min-width: 300px;
    border-radius: 4px
  }