.dropdown {
  display: flex;
}
.btn-navbar-list {
  color: white;
  padding: 0px;
}
/* max-h-[354px] fixed flex  right-0 z-30 py-8 top-[120px]  w-screen bg-[#151515] */
.dropdown-content {
  color: white;
  max-height: 354px;
  position: fixed;
  display: flex;
  right: 0px;
  z-index: 30;
  padding: 32px 0px;
  top: 110px;
  width: 100vw;
  background-color: #151515;
}
/*   flex max-sm:mx-4  sm:mx-10 md:mx-20 lg:mx-24 xl:mx-36 */
.dropdown-content-navbar {
  display: flex;
  max-height: 700px ;
}
/*  border-r border-gray-500 flex-col  p-20  */
.dropdown-content-title {
  color: white;
  border-right: 1px solid rgb(107 114 128);
  flex-direction: column;
  padding: 80px;
}
.title-des {
  font-family: YekanBakh;
}
.dropdown-content-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 200px;

}
.dropdown-content-li {
  text-decoration: none;
  padding: 12px 0px 12px 40px;
  color: white;
  
}
.dropdown-content-li:focus {
  color: white;
}
