.Card-box{
    margin-bottom: 20px ;
    background-color: white;
}
.card-box-img{
    width: 100%;
    
}
.card-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Layout-3{
    padding: 50px;
}

.top-pic {
    width: 100vw;
    height: calc(100vh - 40vh);
    background-image: url(/img/footer-bg.jpg);
  }
  .title-box {
    margin-top: calc(100vh - 50vh);
    color: white;
  }
  .gallery {
    background-color: #f5f5f5;
    padding: 50px;
  }
  .gallery-box {
    padding-bottom: 60px;
    border-bottom: 1px solid lightgray;
  }
  .gallery-title-box {
    text-align: center;
    padding: 50px 0px 20px 0px;
  }
  
  .gallery-pic {
    width: 100%;
    object-fit: cover;
    height: 400px;
  }
  .gallery-final-box {
    border: none;
  }
  
  .lg-container{
    direction: ltr;
  }