
.layout2-pic{
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 20px ;

} 
.box-12{
    height: 400px;
}
.pic-12{
    height: 100% !important;
    
}
.layout2{
    padding: 50px ;
}
.layout2-title-box{
    text-align: center;
    font-size: 25px ;
    padding-bottom: 20px ;

}