
.Video-sec{
    width:100vw;
    height: 100vh;
    position: relative;
    background: #000000ad;
}


.video{
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    
    
}
.title{
    max-width: 500px;
    color: white;
    position: absolute;
    top: 33%;
    bottom: 0;
    padding: 10px;
    text-align: right;
    
}
.start-title-btn{
    /* padding: 5px 45px ; */
    color: white !important;

}
.first-p{
    font-size: 12px;
    background-color: black;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 8px 20px;
    color: #ffffff;
    letter-spacing: 0;
}
.h1 {
    font-size: 40px;
    padding: 10px 0;
    font-weight: 600;
    letter-spacing: 0px;
}
.second-p{
    font-size: 16px;
    color: #fff;
    line-height: 40px;
}
.third-p {
    font-size: 14px !important;
    font-weight: 100;
    color: white;
    margin-bottom: 25px;
}
.title .btn{
    color: white;
    font-size: 18px;
    border-radius: 0px;
    text-decoration: none;
    width: 140px;
}
@media screen and  (max-width:768px){
    .Video-sec .h1{
font-size: 28px !important;
    }
    .Video-sec .second-p{
        font-size: 14px;
        line-height: 27px;
    }
    .Video-sec .third-p{
        font-size: 12px !important;
        font-weight: 100;
        color: #fff;
        margin-bottom: 17px;
    }
    .Video-sec .title .btn{
        color: #fff;
        font-size: 13px;
        border-radius: 0;
        text-decoration: none;
        width: 140px;
    
    }

}