.NavBar-ul {
  display: flex;
  gap: 40px;
  list-style: none;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.NavBar-li {
  min-width: fit-content;
  display: flex;
  align-items: center;
}

.navbar-li-a {
  text-decoration: none;
  color: white;
}
.NavBar-li:focus {
  color: white;
}
