:root {
  --bs-btn-hover-color: #198754 !important;
  --swiper-theme-color: #198754 !important;
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 100;
  src: url("../../public/Fonts/IRANSansX-Thin.woff") format("woff"),
    url("../../public/Fonts/IRANSansX-Thin.woff2") format("woff2");
}
@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 200;
  src: url("../../public/Fonts/IRANSansX-Medium.woff") format("woff"),
    url("../../public/Fonts/IRANSansX-Medium.woff2") format("woff2");
}


@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/Fonts/IRANSansX-Light.woff") format("woff"),
    url("../../public/Fonts/IRANSansX-Light.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 500;
  src: url("../../public/Fonts/IRANSansX-Regular.woff") format("woff"),
    url("../../public/Fonts/IRANSansX-Regular.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("../../public/Fonts/IRANSansX-DemiBold.woff") format("woff"),
    url("../../public/Fonts/IRANSansX-DemiBold.woff2") format("woff2");
}
@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("../../public/Fonts/IRANSansX-Bold.woff") format("woff"),
    url("../../public/Fonts/IRANSansX-Bold.woff2") format("woff2");
}


a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  text-decoration: none !important;
}

p {
  line-height: 40px !important;
  font-size: 15px !important;
  color: #7a7979;
}



a {
  color: unset;
}

button {
  border: none;
  background: inherit;
}

.font-800 {
  font-weight: 600;
}

.font-200 {
  font-weight: 200;
}

.pad-50 {
  padding: 0px 0px 50px 0px;
  background-color: #f5f5f5;
}

h4 {
  font-size: 25px;
  color: #198754;
  font-weight: 600;
}

input {
  border: 1px solid #c1c1c1;
}

textarea {
  border: 1px solid #c1c1c1;
}

.loading-container {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  bottom: 0 !important;
}
.MuiBox-root.muirtl-5u10e4 {
  margin-bottom: 20px !important;
}

.leaflet-pane.leaflet-marker-pane img {
  filter: hue-rotate(279deg);
}

.top-foroosh{
  width: 100vw;
  height: calc(100vh - 40vh);
  background-image: url(/img/headers/foroosh.jpg);
  background-size: cover;
  background-position: bottom;
}