.top-pic {
  width: 100vw;
  height: calc(100vh - 40vh);
  background-image: url(/img/footer-bg.jpg);
}
.title-box {
  margin-top: calc(100vh - 50vh);
  color: white;
}
.gallery {
  /* background-color: #f5f5f5; */
  padding: 50px;
}
.gallery-box {
  padding-bottom: 60px;
}
.gallery-title-box {
  text-align: center;
  padding: 50px 0px 20px 0px;
}

.gallery-pic {
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.gallery-final-box {
  border: none;
}
