.comment-title-box{
    padding: 10px 0px ;

}
.first-input-box{
    padding: 20px 0px;
    height: 160px;
    
}
.first-input{
    width: 100%;
    height: 100%;
    
    
}
.second-input , .third-input , .fourth-input{
    width: 100%;
    margin-bottom: 50px;
    padding: 8px 20px ;
}
.second-input-box{
    padding: 0px;
}
.comment-title-h{
    font-size: 30px;
}
.Coment-box{
    padding: 50px;
}