.swiper {
  width: 100%;
  height: 100%;
  border-radius: none !important;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: none !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: none !important;

}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
  border-radius: none !important;

}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiperslide{
  height: 500px;
}
.slider-box{
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: none !important;

}
.slider-data-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 15px 50px ;
    
}
.slider-box-pic{
  height: 80%;
  border-radius: none !important;

}
.myswiper{
  height: 560px;
  border-radius: none !important;

}
.swiper-button-next{
  filter: grayscale(0.8);
}
.swiper-button-prev{
  filter: grayscale(0.8);
}
.swiper-pagination-bullet-active {
background: green;
filter: brightness(1.5);
}





/* .slider-box{
  background-image: url(/img/bb11.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
} */