.top-pic {
    width: 100vw;
  background-size: cover;
  height: calc(100vh - 40vh);
    background-image: url(/img/footer-bg.jpg);
  }
  .title-box {
    margin-top: calc(100vh - 50vh);
    color: white;
  }
.New-top-box{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
}

.new-pic{
    width: 100%;
    height: 380px;
    object-fit: contain;
    padding: 20px;
}

.pack{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px ;
    align-items:center;
}
.News-mid-box{
    background-color: #f5f5f5;
}
.Share-us{
    background-color: #f5f5f5;
    
}
.share-us-title{
    font-size: 26px ;
    padding-right: 15px;
    
}

::marker {
    color: green;
}

.news-mid-p li {
    line-height: 40px !important;
    font-size: 15px !important;
    color: #7a7979;
    letter-spacing: 0;
    list-style: disc;
}

.media{
    margin-left: 10px;
}
.share-us-media{
    margin: 20px 0px ;
}
.media-pic{
    margin-left: 10px ;
    filter:grayscale(2) ;
}
.media-pic:hover{
    filter: none;
    transition: 150ms ;
}
.Comments{
    background-color: #f5f5f5;
    
}

.new-data-box {
    background: #fff;
    padding: 20px;
    border: 1px solid #e1e1e1;
}

.news-mid-p {
    background: #fff;
    padding: 20px;
    line-height: 40px;
    border: 1px solid #e1e1e1;
}

.news-mid-p strong {
    color: green;
    font-size: 15px;
}

.news-mid-p a {
    color: green;
}

.share-div {
    background: #fff;
    padding: 20px;
    border: 1px solid #e1e1e1;
    margin-top: 20px;
    padding-right: 7px;
 
}

.share-icons-cont {
    margin-top: 20px;
    padding-right: 7px;
}

p.new-p {
    text-align: justify;
}
.news-mid-p h1 {
    font-size: 28px;
    color: green;
}

.news-mid-p h2 {
    font-size: 25px;
    color: green;
}

.news-mid-p h3 {
    font-size: 20px;
    color: green;
}

.news-mid-p table {
    font-size: 15px;
    color: #515151;
}

td {
    padding: 10px;
    border: 1px solid #c3c3c3;
}

th {
    padding: 10px;
    border: 1px solid #c3c3c3;
    background: #efefef;
    color: green;
}

.Comments .container {
    background: #fff;
    padding: 30px 50px;
    border: 1px solid #e1e1e1;
}