.Count-sec{
    width: 100vw;
}
.url-count-1{
    background: url(/img/s11.jpg);
    background-size: cover;
}
.url-count-2{
    background: url(/img/s13.jpg);
    background-size: cover;
}
.url-count-3{
    background: url(/img/s15.jpg);
    background-size: cover;
}
.url-count-4{
    background: url(/img/s16.jpg);
    background-size: cover;
    
}
.padding-count{
    padding: 0%;
    overflow: hidden;
}

.counter-box-filter {
    filter: contrast(0.8);
    transition: 0.5s;
}

.counter-box-filter:hover {
    filter: contrast(0.7) grayscale(0.7);
    transition: 0.5s;
}

.counter-title-span {
    font-size: 25px;
    margin: 7px;
}
.counter-box {
    background: linear-gradient(90deg, rgb(0 0 0 / 70%) 0%, rgba(0,212,255,0) 100%);
    height: 640px;
    transition: 0.5s;
}

.counter-number {
    color: rgb(255,255,255);
    margin-top: 22px;
}

.counter-box-div {
    writing-mode: vertical-rl;
    text-align: left;
    transform: scale(-1, -1);
    font-size: 25px;
}

.counter-number {
    font-weight: 400 !important;
    font-size: 65px;

    
}