.Card-box{
    margin-bottom: 20px ;
    background-color: white;
}
.card-box-img{
    width: 100%;
    display: flex;
    justify-content: center;

    
}
.card-pic{
    height: 360px;
    width: auto;
    object-fit: cover;
}
.Layout-3{
    padding: 50px;
}