.News {
  width: 100vw;
  background-color: #f7f7f7;
  padding: 50px 0px;
}

.h2,
.p {
  display: flex !important;
  justify-content: center !important;
}

.news-p {
  font-weight: 200;
  color: #7b7b7b;
  padding-bottom: 20px;

}

.hr-news {
  border-top: 2px solid gray;
}

.News .h2 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}

.special-news-h,
.news-archive-title {
  padding-top: 50px;
  display: flex;
}
.font-800 {
  padding: 0px 15px;
}
.slider-data-box {
  display: flex;
  flex-direction: column;
  height: 190px;
}
.slider-data-des {
  padding-top: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 15px !important;
    line-height: 30px !important;
    color: grey;
    height: 100px;
    font-weight: 300;
    margin-top: 3px;
    text-align: right;
}

.slider-data-title {
  text-align: right;
  font-size: 20px;
  font-weight: 200;
  padding: 10px 0;
  color: #212529;
}
.news-archive-part{
  text-align: center;
  line-height: 1rem;
  min-width: fit-content;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  margin-top: 40px;
  z-index: 99999;
}

.news-archive-title {
  margin-top: 30px;
  padding-bottom: 20px;
}

.category-div {
  padding: 30px 0;
}

.card-box-title {
  padding: 20px 20px 7px 20px;
  margin-top: 0px !important;
}

.Card-box {
  border: 1px solid #dee2e6;
  background: #fff;
  height: 416px;
}

.des2 {
  padding: 0px 20px;
}

.card-box-img img {
  border-radius: 0px !important;
}

.slider-box {
  background: #fff;
  border: 1px solid #dee2e6;
}

.slider-data-top {
  padding: 0px 20px 20px 20px;
}

.slider-box-pic img {
  border-radius: 0px !important;
}

.card-box-title h5 {
  color: #212529;
  letter-spacing: 0;
  font-weight: 200;
  font-size: 18px;
  text-align: right;
}

.title-box {
  margin-top: calc(100vh - 50vh);
  color: white;
}

.des {
  font-weight: 300;
  margin-top: 3px;
  letter-spacing: 0;
}