.Video-sec {
    width: 100vw;
    height: calc(100vh - 40vh);
}


.video {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

p.product-dec {
    font-size: 15px !important;
    line-height: 40px !important;
}

.title {
    margin-top: calc(100vh - 55vh);
    color: white;
}

.Product-first-data-box {
    background-color: white;
    padding: 50px 0px;

}

.product-title-box {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    /* padding: 20px 0px ;
    /* display: flex; */
}

.hr-khadamat {
    border-top: 2px solid gray;
}

.product-p-box {
    padding: 20px 0px;
    text-align: center;
}

.product-card-box {
    border: 1px solid lightgrey;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f7f7f7;
height: 102px;
}

.product-card-data {
    text-align: center;
    width: 70%;
    color: #848484;
    letter-spacing: 0;

}

.product-card-data p {
    font-size: 18px !important;
    margin-bottom: 1px;
    color: #198754;
    font-weight: 200;
}

.product-card-img img {
    
}

.product-seris {
    background-color: #f5f5f5;
    padding: 60px 0px;
}

.product-seris-title {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
    padding: 20px 0px;

}

.news-Card-box {
    background-color: white;
}

.Catalog {
    background-color: white;
}

.catalog-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.Catalog {
    padding: 50px;
}

.catalog-box {
    padding-top: 20px;
}

.catalog-title {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding-bottom: 10px;
}

.Accardion {
    background-color: #f5f5f5;
    padding: 60px 0px;
}

.accardion-title {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 20px 0px;
}

.accardion-box {
    padding: 30px;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: green;
    box-shadow: none;
}

.accordion-button:not(.open) {
    box-shadow: none;
}

.accordion-button {
    padding: 20px 20px;
}

.accordion-button::after {
    margin-right: 10px;
}

.accordion-button {
    font-size: 18px;
    font-weight: 200;

}

.Card-box {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #e2e2e2;
}

.card-box-img {
    width: 100%;
    display: flex;
    justify-content: center;

}

.muirtl-u7qq7e {
    padding: 8px 16px 16px !important;
    font-size: 15px !important;
    line-height: 40px !important;
    font-weight: 300 !important;
    color: #585858 !important;
    letter-spacing: 0;
}

.muirtl-l0jafl.Mui-expanded {
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 200;
    color: green;
}

.muirtl-l0jafl{
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 200;
    color: #4d4d4d;
    letter-spacing: 0;
}

.card-pic {
    height: 360px;
    width:100%;
    object-fit: contain;
    padding: 50px;
    border-bottom: 1px solid #e2e2e2;
}

.card-box-title {
    height: 10%;
    padding: 13px 20px;
    text-align: center;
}

.card-box-title h5 {
    font-size: 19px;
    font-weight: 200;
    color: #3a3a3a;
    letter-spacing: 0;
}

.Card-box:hover .card-box-title h5 {
    color: green;
}

.card-box-des {
    width: 100%;
    padding: 10px 20px;
}

.card-p {
    font-size: 16px;
}

.MuiAccordionDetails-root.muirtl-15v22id-MuiAccordionDetails-root {
    font-size: 15px !important;
    line-height: 40px !important;
    color: #7d7d7d;
    font-weight: 300 !important;
    padding-bottom: 30px;
    letter-spacing: 0px;
}

.muirtl-eqpfi5-MuiAccordionSummary-content {
    font-size: 18px;
    color: #595959;
    padding-bottom: 20px;
}



.comment-title-box {
    padding: 10px 0;
}

.comment-title-h {
    font-size: 26px;
}