.Representatives{
  
    background: #151515;
    color: #fff;
    height: auto;
    padding-block: 43px;
    font-size: 20px;
    display: flex;
    padding-inline: 10px;
    align-items: center;

}

.Representatives-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.btn-1{
    margin-bottom: 16px;
    color: white;
    border: white solid 1px;
    margin-left: 15px;
    border-radius: 0px;

}
.btn-2{
    
margin-left:15px ;
    color: white;
    border:  #198754 solid 1px;
    background-color:#198754 ;
    border-radius: 0px;
    margin-bottom: 16px;
}
.btn-1:hover,.btn-2:hover{
    color: white;
    border:  #198754 solid 1px;
    background-color:#198754 ;
}
.strat-title-btn {
    width: 192px;
}

.res-col{
    display: flex;
    align-items: center;
}